

.DiseaseCardWrapper{
    height: fit-content;
    border: 0px solid rgb(216, 38, 38);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d6d6d6,
                -5px -5px 10px #ffffff;
}