

.CropCardWrapper{
    height: fit-content;
    
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d6d6d6,
                -5px -5px 10px #ffffff;
}