


.wrapper{

    height: fit-content;
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 5px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d6d6d6,
                -5px -5px 10px #ffffff;
}

.thumbanailWrapper{
    width: 150px;
    height: 110px;
    border: 0px solid rgb(216, 38, 38);
}

.infoWrapper{
    height: 110px;
    border: 0px solid rgb(216, 38, 38);
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    
}

.dateTag{
    margin: 0;
}
.titleTag{
    margin: 0;
}

.editWrapper{
    border: 0px solid blue;
    width: 30px;
    height: 110px;
    margin-left: auto;
}

.thumbnail{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}